/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
     -fx-border-style:solid;
    -fx-border-width: 1px;
}

.anchor{
    
}
.setup-hboxup{
         -fx-border-style:solid solid hidden solid;
        -fx-border-width: 1px;
        -fx-border-color:grey;
        
    }
 
.setup-hboxbottom{
         -fx-border-style:hidden solid solid solid;
        -fx-border-width: 1px;
        -fx-border-color:gray;
        
    }
    
    .buttonX:hover{
        -fx-background-color:lightcoral;
        -fx-text-fill:white;
        
    }
    
    
    .buttonD:hover{
        -fx-background-color:lightgrey;
    }
    
    .lunchbtn{
        -fx-background-color:lightblue;
        -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 10, 0.0 , 0 , 1 );
        -fx-border-radius:8px;
    }
    
    .lunchbtn:hover{
        -fx-background-color:lightskyblue;
    }